        body {
            background-color: rgb(0, 0, 0);
            margin: 5rem;
            color: black;
            touch-action: none
        }

        #lower-flame {
            background-color: rgb(255, 220, 62);
            width: 30px;
            height: 30px;
            border-top-right-radius: 70%;
            border-bottom-left-radius: 70%;
            border-bottom-right-radius: 70%;
            padding: 1em;
            border-bottom: solid rgb(255, 220, 62) 15px;
            border-right: solid rgb(255, 220, 62) 15px;
            animation: glare 1.5s linear infinite;
        }

        #middle-flame {
            background-color: rgb(255, 183, 0);
            width: 70px;
            height: 70px;
            border-top-right-radius: 70%;
            border-bottom-left-radius: 70%;
            border-bottom-right-radius: 70%;
            padding: .9em;
            animation: glare1 3s linear infinite;
        }

        #upper-flame {
            background-color: rgb(255, 123, 0);
            width: 90px;
            height: 90px;
            border-top-right-radius: 70%;
            border-bottom-left-radius: 70%;
            border-bottom-right-radius: 70%;
            padding: 1em;
            transform: rotate(45deg);
            box-shadow: rgb(255, 242, 0) 0px 0px 75px;
            animation: glare2 2s linear infinite;
        }

        #scale {
            transform: scale(35%, 50%);
            position: fixed;
        }

        #light {
            width: 100px;
            height: 100px;
            filter: blur(35px);
            position: fixed;
            animation: flameLight 1s infinite alternate linear;
            z-index: -1;
            scale: 1.3;
            background: radial-gradient(circle at 40% 60%,
                        #ffec85 0%, #ffae34 30%, #ff5d00 60%, #0b0500 100%);
        }
        #stick{
            width: 5px;
            height: 100px;
            background-color: rgb(250, 255, 119);
            position: fixed;
            border-top: solid 10px black;
            border-top-left-radius: 70%;
            transform: translate(35px,100px);
            rotate: -40deg;
            z-index: 1;
        }
        #cursor{
            position: fixed;
            cursor: grabbing;
        }
        #text{
            font-family: cursive;
            font-size: 2rem;
            user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        @keyframes flameLight {
            0%{
                transform: scale(1);
                translate: 0px;
                opacity: 100%;
            }
            30%{
                opacity: 70%;
            }
            50%{
                opacity: 80%;
            }
            70%{
                opacity: 90%;
            }
            100%{
                transform: scale(1.2);
                translate: 40px;
                opacity: 100%;
            }
        }
        @keyframes glare {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(20deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }

        @keyframes glare1 {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(-30deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }

        @keyframes glare2 {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(85deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }